<nav>

	<ul>
		<a href="/"><li> <i class="fa fa-home"></i> Dashboard</li></a>
		<a href="/users/students"><li> <i class="fas fa-user-graduate"></i> Students</li></a>
		<a href="/users/teachers"><li> <i class="fas fa-chalkboard-teacher"></i> Teachers</li></a>
		<a href="/announcements"><li> <i class="far fa-bell"></i> Announcements</li></a> 
		<a href="/logs"><li> <i class="fas fa-address-book"></i> Logs</li></a>
		<a href="/admin/courses"><li> <i class="fas fa-book-open"></i> Courses</li></a>
		<a href="/logout"><li> <i class="fa fa-sign-out"></i> Log Out</li></a>

	</ul>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</nav>