

<%- include ('_header') %>

    <div class="table-main">
      	<% if(data._id){ %>
  <% post = "/announcedit" %>
<h1 class="std-heading">EDIT Announcements</h1>
  <% }else{  %>
<h1 class="std-heading">ADD Announcements</h1>
  <% post = "/announce" %>
  <% data = "" %>

  <% } %>
      <form method="POST" action="#" class="ann-form">
	  
        <div  class="form-group"  id = "Update">
          <label for="announcement-title">Title</label>
          <input type="text" class="form-control" id="email" name = "title" value="<%= data.title %>" required>
          <label for="announcement-body">Body</label>
          <textarea type="tetxt"class="form-control" id="announcement-body" name = "text" value="<%= data.text %>"> </textarea>
        </div>
        <a href="#">
         <button type="submit" class="submit">Submit</button></a>
      </form>

    </div>



<%- include ('../include/_footer') %>