<%- include ('include/_header') %>

<div class="table-main">
	
	<div> Announcements </div>

<a href="/admin/announce">add</a>

<%- include ('include/_announcement') %>

</div>
<%- include ('include/_footer') %>