<%- include ('include/_header') %>

<div class="table-main">
	
	<h1 class="announcement-heading">Announcements</h1>

	<button class="ann-adding-btn">
		
		<a href="/admin/announce" class="add-button"><i class="fa fa-plus"></i> Add</a>
	</button>

<%- include ('include/_announcement') %>

</div>
<%- include ('include/_footer') %>
