<!-- include header -->
<%- include ('_header') %>
<div class="table-main">
<h1 class="std-heading">
    <%= dataType.toUpperCase() %> Detail
</h1>

<!-- header -->
<%- include ('include/_table') %>
</div>
<!-- include header -->
<%- include ('../include/_footer') %>

<!-- header -->