<!-- include header -->
<%- include ('_header') %>

<h1 class="std-heading">
    Student Details
</h1>

<!-- header -->
<%- include ('include/_table') %>

<!-- include header -->
<%- include ('../include/_footer') %>

<!-- header -->