<%- include ('_header') %>
<div class="table-main">
	<a id="addStudents" href="/admin/testing/addstudents"> Add students</a>
	<a href="/admin/testing/addmodules">Add modules</a>
	<a href="/admin/testing/addcourses">Add Courses Button</a>
</div>

	
<%- include ('include/_footer') %>