<%- include ('_header') %>
<div class="table-main">
	<a id="addStudents" href="/testing/addstudents"> Add students</a>
	<a href="/testing/addmodules">Add modules</a>
	<a href="/testing/addteachers">Add Teachers</a>
	<a href="/testing/addcourses">Add Courses </a>
</div>

	
<%- include ('include/_footer') %>