<%- include ('include/_header') %>

<div class="table-main">
	<h1 class="std-heading">Add Log</h1>

	<form action="" method="POST">
		<textarea name = "text" class="log-text">
			<% if(data != undefined){ %>
			<%= data.text %>
			<% } %>
		</textarea>
		<a href="#">
			<button type="submit" class="submit">Submit</button>
		</a>
	</form>

</div>



<%- include ('include/_footer') %>