<!-- include header -->
<%- include ('include/_header') %>

<!-- header -->
<form action="/file" method = "POST" enctype="multipart/form-data">
	<div class="mb-3">
  <label for="formFile" class="form-label">Default file input example</label>
  <input class="form-control" type="file" id="formFile" name = "upfile">
  <button type="submit" class="btn btn-primary" name = "upfile">Submit</button></a>
</div>
</form>
<!-- include header -->
<%- include ('include/_footer') %>

<!-- header -->