<div class="table-main">
	<h1 class="std-heading">Logs</h1>
	<button class="log-adding-btn">
		
		<a href="/logs/add/<%= user %>" ><i class="fa fa-plus"></i>Add</a>
	</button>



<% for(let i in data){ %>
	<div id = "announcements" class="log-main-container repeatable" >
		<div class="logs-title"> <%= data[i].date %> </div>
		<p class = "logbody">
			<%= data[i].text %>
		</p>
			<a class="log-remove-btn" href="/remove/logs&<%= data[i]._id %>" onclick="return confirm('Confirm to remove log');"><i class="fa fa-trash-o"></i> Delete log</a>
		
	</div>
<% } %>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



