<nav>

	<div class = "arrow">
		<i class='fas fa-arrow-left'></i>
		<i class='fas fa-arrow-right'></i>
	</div>

	<ul>
		<a href="/"><li> <i class="fa fa-home"></i> Dashboard</li></a>
		<a href="/users/students"><li> <i class="fas fa-user-graduate"></i> Students</li></a>
		<a href="/users/teachers"><li> <i class="fas fa-chalkboard-teacher"></i> Teachers</li></a>
		<a href="/announcements"><li> <i class="far fa-bell"></i> Announcements</li></a> 
		<a href="/logs"><li> <i class="fas fa-address-book"></i> Logs</li></a>
		<a href="/courses"><li> <i class="fas fa-book-open"></i> Modules</li></a>
	</ul>
</nav>