<nav>
	<a href="/"><ul>Dashboard</ul></a>
	<a href="/users/students"><ul>Students</ul></a>
	<a href="/users/teachers"><ul>Teachers</ul></a>
	<a href="/announcements"><ul>Announcements</ul></a>
	<a href="/logs"><ul>Logs</ul></a>
</nav>