<nav>
	<ul>
		<a href="/"><li>Dashboard</li></a>
		<a href="/users/students"><li>Students</li></a>
		<a href="/users/teachers"><li>Teachers</li></a>
		<a href="/announcements"><li>Announcements</li></a>
		<a href="/logs"><li>Logs</li></a>
		<a href="/courses"><li>Modules</li></a>
	</ul>
</nav>