<!-- <script src="/js/table.js"></script> -->

<div class="table">
	<table class="table table-all">
		<% var keys = Object.keys(data)%>
		<% for (let key in keys) { %>
		<th><%= keys[key] %></th>
	<% } %>

	<% if (data.length > 0){%>
	<% for(i = 0; i < data.length; i++){ %>
		<tr>
			<% for(let c in keys){ %>
			<td><%= data[i][[c]]%></td>
			<% } %>
		</tr>
		
	<% } %>
	<% } %>
	</table>

</div>