body{
    /* background-color: rgb(255,0,0); */
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav{
    position: fixed;

    background-color: blue;

    width: 20%;
    height: 100%;

    color: white;
}

.arrow{
    margin: 0 0 0 80%;
}

ul{
    margin: 20px 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
}

a{
    text-decoration: none;

    color: white;
}

li{
    margin: 18px 0;
    
    text-decoration: none;
    list-style: none;

    font-size: 25px;
    font-weight: bolder;    
}





/*Table of student informations*/
.table-main{
    margin: 0 0 0 20%;

    position: fixed;

    background-color: aqua;
    width: 80%;
}

