body{
    /* background-color: rgba(33, 33, 33, 0.5); */
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav{
    position: fixed;

    background-color: #091e42;

    width: 20%;
    height: 100%;

    color: white;
}

.arrow{
    margin: 0 0 0 80%;
}

ul{
    margin: 20px 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
}

ul a{
    padding: 0 0 0 15px;

    text-decoration: none;

    color: white;
}
ul a:hover{
    color: black;
    background-color: aqua;
}

li{
    margin: 18px 0;
    
    text-decoration: none;
    list-style: none;

    font-size: 25px;
    font-weight: bolder;    
}

/*Table of student informations*/
.table-main{
    /* overflow: scroll; */

    margin: 0 0 0 20%;

    /* position: fixed; */

    width: 100%;
}

.table-heading{
    margin: 0;
    padding: 18px 0;

    

    background-color: #34568B;

    text-align: center;

    color: white;
}

th, td, tr{

    margin: 0;
    padding: 0;

    background-color: rgba(33, 33, 33, 0.5);

    color: black;
    font-size: 22px;

    border: 3px solid black;
}


/*Form designing*/

form{

    display: block;

    margin-top: 30px;
    margin-bottom: 30px;

    margin-left: auto;
    margin-right: auto;

    width: 60%;

    background-color: rgba(42, 40, 38, 0.32);

    border-radius: 12px;
    box-shadow: 1px 8px 16px 6px;
}

label{

    display: block;

    text-align: center;

    font-weight: 600;
    font-size: 20px;
}
input{
    margin: 12px 0;
    padding: 12px;

    display: block;

    margin-left: auto;
    margin-right: auto;

    
    border: none;
    background-color: rgba(42, 40, 38, 0.75);

    width: 45%;
    color: white;
    font-weight: bold;

    border-radius: 12px;
    box-shadow: 1px 2px 3px 1.5px black;
}

.submit-btn{
    margin: 12px 0;
    padding: 12px;

    display: block;

    margin-left: auto;
    margin-right: auto;
}

.submit{

    display: block;

    margin-left: auto;
    margin-right: auto;

    border: none;
    background-color: rgba(112, 12, 12, 0.7);

    text-decoration: none;
}