<nav>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<ul>
		<a href="/teacher/"><li> <i class="fa fa-home"></i> Dashboard </li></a>
		<a href="/teacher/module"><li> <i class="fas fa-user-graduate"></i> Module </li></a>
		<a href="/teacher/assignments"><li> <i class="material-icons">assignment</i> Assignments</li></a> 
		<a href="/announcements"><li> <i class="far fa-bell"></i> Announcements</li></a>
		<a href="/logs"><li> <i class="fas fa-address-book"></i> Logs</li></a>
		<a href="/teacher/personalStudent"><li> <i class='fas fa-book-reader'></i> Personal Student </li></a>
		<a href="/logout"><li> <i class="fa fa-sign-out"></i> Log Out</li></a>

	</ul>
</nav>