<!-- include header -->
<%- include ('_header') %>

<!-- header -->

<div class="table-main">
<h1 class="course-heading"> Add Assignment </h1>

	<form action="/teacher/addAssignments" method = "POST" enctype="multipart/form-data">
		<div class="">
			<label>Title</label>
			<input type = "text" name = "title">
			
			<label>Due</label>
			<input type = "date" name="due">
			
			<label for="file" class="form-label">Include Resourses</label>
			  <input class="form-control course-input" type="file" id="formFile" name = "upfile" required>
	
		  <a href="#"><button type="submit" class="submit">Submit</button></a>
		</div>
	</form>
</div>

<!-- include header -->
<%- include ('include/_footer') %>

<!-- header -->