<nav>

	<div class = "arrow">
		<i class='fas fa-arrow-left'></i>
		<i class='fas fa-arrow-right'></i>
	</div>

	<ul>
		<a href="/student/"><li> <i class="fa fa-home"></i> Dashboard </li></a>
		<a href="/student/modules"><li> <i class="fas fa-user-graduate"></i>Modules </li></a>
		<a href="/announcements"><li> <i class="far fa-bell"></i> Announcements</li></a> 
		<a href="/logs"><li> <i class="fas fa-address-book"></i> Logs</li></a>
		<a href="/student/tutor"><li> <i class="fas fa-chalkboard-teacher"></i> Personal Tutor </li></a>
		<a href="/logout"><li> <i class="fas fa-book-open"></i> Log Out</li></a>

	</ul>
</nav>