<%- include ('_header') %>

	<div class = "table-main">

		<h1 class="table-heading">Available Teachers for tutoring</h1>

		<% if(data.length == 0) { %>
				<h1>No Availabe Teacher</h1>
			<% } else{ %>
		
<% for(let i in data){ %>
	<form method="post" action="/student/tutor/<%= data[i]._id %>">
		<div>
			Name:<%= data[i].user.name %>
		</div>
		<button type="submit">Request For tutoring</button>
	</form>
<% }} %>
</div>
</div>
<% include('include/_footer') %>